<div class="container">
  <div class="card-product">

    <% if @cocktail.photo.attached? %>
      <% @path = @cocktail.photo.key %>
    <% else %>
      <% @path = "a-cup-filled-of-green-tea-with-lemon-3677150_lftutq" %>
    <% end %>

    <%= cl_image_tag @path, height: 400, width: 400, crop: :fill %>

    <div class="card-product-infos">
      <h1><%= @cocktail.name %></h1>
      <div class="d-flex justify-content-between" id="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item text-left">
            <p><%= dose.description %> | <%= dose.ingredient.name %></p>
            <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Delete dose" }, class: 'btn btn-sm btn-light' %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-product-actions">
    <%= link_to "Back", cocktails_path, class: 'btn btn-primary' %>
    <%= link_to "Add a New Dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
    <%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Delete cocktail" }, class: 'btn btn-primary' %>
  </div>
</div>
